@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbGmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZtammT.ttf) format('truetype');
}
html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
bth:focus {
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1288px;
  }
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.grey-bg {
  background-color: #f7f7f7;
}
.blue-bg {
  background-color: #1d1f4b;
}
.black-dark-bg {
  background-color: #1a1a1a;
}
.black-dark-shade-1 {
  background-color: #2a2a2a;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.header-top {
  padding: 10px 0;
}
.header-top .hot-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-top .hot-line > div {
  margin: 0 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.header-top .hot-line > div svg {
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 5px;
}
.header-top .hot-line > div a {
  font-size: 13px;
  color: #ffffff;
}
.header-top .hot-line > div:last-child {
  margin-right: 0;
}
.header-top .hot-line > div:first-child {
  margin-left: 0;
}
.header-top .hot-line > div.social {
  margin-left: auto;
}
.header-top .hot-line > div.social ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header-top .hot-line > div.social ul li {
  list-style-type: none;
}
.header-top .hot-line > div.social ul li + li {
  margin-left: 15px;
}
@media (max-width: 500px) {
  .header-top .hot-line > div.social ul li + li {
    margin-left: 3px !important;
  }
}
.site-header .site-navbar {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
.site-header .site-navbar .navbar-brand img {
  width: 280px;
}
@media (max-width: 1199px) {
  .site-header .site-navbar .navbar-brand img {
    width: 200px !important;
  }
}
.site-header .site-navbar .navbar-toggler img {
  width: 30px;
}
@media (max-width: 980px) {
  .site-header .site-navbar .navbar-nav {
    text-align: center;
  }
}
.site-header .site-navbar .navbar-nav .nav-item .nav-link {
  color: #373737;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 980px) {
  .site-header .site-navbar .navbar-nav .nav-item .nav-link {
    padding: 10px 15px !important;
  }
}
.site-header .site-navbar .navbar-nav .nav-item .nav-link.active {
  color: #1d1f4b;
  background-color: #f6f6f6;
  font-weight: 600;
}
.site-header .site-navbar .navbar-nav .nav-item .nav-link:hover {
  color: #1d1f4b;
  background-color: #f6f6f6;
}
.site-header .site-navbar .navbar-nav .nav-item .nav-link.book-btn {
  background-color: #f9313b;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 40px;
}
@media (max-width: 980px) {
  .site-header .site-navbar .navbar-nav .nav-item .nav-link.book-btn {
    max-width: 200px;
    margin: auto;
  }
}
.site-header .site-navbar .navbar-nav .nav-item .nav-link.book-btn:hover {
  background-color: #af161e;
  color: #ffffff;
  animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
}
.site-header .site-navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #373737;
  font-size: 13px;
  padding: 0.25rem 1rem;
  transition: all 0.3s ease-in-out;
}
.site-header .site-navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #1d1f4b;
}
.site-header .site-navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: #b3b3b3;
  color: #1d1f4b;
}
.site-header .site-navbar .navbar-nav li + li {
  margin-left: 15px;
}
@media (max-width: 980px) {
  .site-header .site-navbar .navbar-nav li + li {
    margin-left: 0 !important;
  }
}
.site-header.site-header-fixed {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.site-banner {
  padding-top: 60px;
  padding-bottom: 150px;
  border-bottom: 15px solid #eaeaf7;
  position: relative;
}
.site-banner .ban-rect-1 {
  width: 69px;
  position: absolute;
  top: 14%;
  left: 10%;
  animation: moveLeftRight 2s infinite alternate;
}
@media (max-width: 767px) {
  .site-banner .ban-rect-1 {
    width: 42px;
    top: 2%;
  }
}
.site-banner .ban-rect-2 {
  width: 63px;
  position: absolute;
  bottom: 14%;
  right: 10%;
  animation: moveLeftRight 2.5s infinite alternate;
}
@media (max-width: 767px) {
  .site-banner .ban-rect-2 {
    width: 42px;
  }
}
.site-banner .ban-medi {
  width: 106px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  animation: moveUpDown 2s infinite alternate;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .site-banner .ban-medi {
    width: 42px;
  }
}
.site-banner .ban-triangle {
  width: 130px;
  position: absolute;
  top: 14%;
  right: 10%;
  animation: moveUpDown 2.5s infinite alternate;
}
@media (max-width: 767px) {
  .site-banner .ban-triangle {
    width: 42px;
  }
}
.site-banner .row {
  align-items: center;
}
.site-banner .banner-desc {
  padding-right: 50px;
}
@media (max-width: 767px) {
  .site-banner .banner-desc {
    padding-right: 0;
  }
}
.site-banner .banner-desc .child-1 {
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 767px) {
  .site-banner .banner-desc .child-1 {
    font-size: 16px;
  }
}
.site-banner .banner-desc .ban-title {
  font-size: 53px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-banner .banner-desc .ban-title span {
  color: #f9313b;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .site-banner .banner-desc .ban-title {
    font-size: 33px;
  }
}
.site-banner .banner-desc .ban-shrt-desc {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 50px;
}
.theme-red-dark-btn {
  background-color: #f9313b;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  display: inline-block;
}
.theme-red-dark-btn:hover {
  background-color: #af161e;
  color: #ffffff;
  animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
}
@media (max-width: 500px) {
  .theme-red-dark-btn {
    padding: 8px 10px;
    font-size: 12px;
  }
}
.theme-white-dark-btn {
  background-color: #ffffff;
  color: #1d1f4b;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  display: inline-block;
}
.theme-white-dark-btn:hover {
  background-color: #b3b3b3;
  color: #1d1f4b;
  animation: pulse2 1s;
  box-shadow: 0 0 0 1em transparent;
}
@media (max-width: 500px) {
  .theme-white-dark-btn {
    padding: 8px 10px;
    font-size: 12px;
  }
}
.top-services {
  margin-top: -120px;
  background-image: url(../images/icons/stethoscope.png);
  background-position: left bottom;
  background-size: auto;
  background-repeat: no-repeat;
}
.top-services .e-servc-blk {
  height: 100%;
  border-radius: 15px !important;
}
.top-services .e-servc-blk .serv-icn {
  width: 100px;
  height: 100px;
  background-color: #ffe7e7;
  padding: 25px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.top-services .e-servc-blk .serv-icn svg {
  fill: #f9313b;
  width: 100%;
  height: 100%;
}
.top-services .e-servc-blk .serv-list h5 {
  font-size: 22px;
  color: #1d1f4b;
  font-weight: 700;
}
.top-services .e-servc-blk .serv-list ul {
  display: flex;
  flex-wrap: wrap;
}
.top-services .e-servc-blk .serv-list ul li {
  padding-left: 15px;
  padding-right: 10px;
  position: relative;
  font-size: 14px;
  color: #707070;
}
.top-services .e-servc-blk .serv-list ul li::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ffe7e7;
}
.title {
  font-size: 40px;
  font-weight: 800;
  color: #1d1f4b;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}
.title .t-child-1 {
  display: block;
  color: #f9313b;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .title .t-child-1 {
    font-size: 14px;
  }
}
.title .t-child-2 {
  display: block;
  font-size: 16px;
  color: #1d1f4b;
  margin-top: 15px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .title .t-child-2 {
    font-size: 15px;
  }
}
.about-sec {
  background-image: url(../images/icons/hexagonal.png);
  background-position: right top;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}
.about-sec .blue-star {
  width: 28px;
  position: absolute;
  top: 0;
  left: 60px;
  animation: moveLeftRight 2.5s infinite alternate;
}
.about-sec .red-star {
  width: 28px;
  position: absolute;
  top: 30%;
  right: -60px;
  animation: moveUpDown 3.5s infinite alternate;
}
.about-sec .h-about {
  padding-left: 50px;
  padding-top: 50px;
}
@media (max-width: 500px) {
  .about-sec .h-about {
    padding-left: 0;
  }
}
.about-sec .h-about p {
  color: #373737;
  font-size: 14px;
}
.about-sec .h-about ul {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 40px 0;
}
.about-sec .h-about ul li {
  color: #1d1f4b;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  width: 50%;
  flex: 0 0 auto;
  margin-bottom: 7px;
}
.about-sec .h-about ul li svg {
  width: 15px;
  height: 15px;
  fill: #f9313b;
  margin-right: 5px;
}
.care-plans-sec .ech-care-plan {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #1d1f4b;
  transition: all 0.3s ease-in-out;
}
.care-plans-sec .ech-care-plan:hover {
  border-width: 10px;
}
.care-plans-sec .ech-care-plan .care-icon {
  width: 80px;
  height: 80px;
}
.care-plans-sec .ech-care-plan .care-icon svg {
  width: 100%;
  height: 100%;
  fill: #747ba5;
}
.care-plans-sec .ech-care-plan .care-shrt-desc {
  margin-top: 15px;
}
.care-plans-sec .ech-care-plan .care-shrt-desc h5 {
  font-size: 20px;
  color: #1d1f4b;
  font-weight: 700;
}
.care-plans-sec .ech-care-plan .care-shrt-desc p {
  font-size: 15px;
  color: #373737;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.care-plans-sec .ech-care-plan .care-shrt-desc a {
  display: flex;
  align-items: center;
  color: #f9313b;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.care-plans-sec .ech-care-plan .care-shrt-desc a svg {
  fill: #1a1a1a;
  width: 18px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
  flex: 0 0 auto;
}
.care-plans-sec .ech-care-plan .care-shrt-desc a:hover svg {
  margin-left: 10px;
}
.care-plans-sec .more-care-plans-wrap .more-plan-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 12px 15px;
  transition: all 0.3s ease-in-out;
}
.care-plans-sec .more-care-plans-wrap .more-plan-list:hover {
  background-color: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.care-plans-sec .more-care-plans-wrap .more-plan-list .icons {
  width: 24px;
  fill: #f9313b;
  margin-right: 15px;
}
.care-plans-sec .more-care-plans-wrap .more-plan-list h5 {
  font-size: 18px;
  margin: 0;
  color: #1d1f4b;
  font-weight: 700;
}
.care-plans-sec .more-care-plans-wrap .more-plan-list .arrow {
  width: 20px;
  fill: #1a1a1a;
  flex: 0 0 auto;
}
.testimony-sec {
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimony-sec .testimony-carousel .owl-item:nth-child(even) .testi-block {
  background-color: #f6f6f6;
}
.testimony-sec .testimony-carousel .owl-item:nth-child(even) .testi-block p {
  color: #1d1f4b;
}
.testimony-sec .testimony-carousel .owl-item:nth-child(even) .testi-block .testi-person-block .testi-name h5 {
  color: #1d1f4b;
}
.testimony-sec .testimony-carousel .owl-item:nth-child(even) .testi-block .testi-person-block .testi-name p {
  color: #1d1f4b;
}
.testimony-sec .testimony-carousel .testi-block {
  padding: 15px;
  position: relative;
  background-color: #1d1f4b;
  border-radius: 10px;
}
.testimony-sec .testimony-carousel .testi-block .quote-img {
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.5;
}
.testimony-sec .testimony-carousel .testi-block p {
  color: #ffffff;
}
.testimony-sec .testimony-carousel .testi-block .testi-person-block .testi-image {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
}
.testimony-sec .testimony-carousel .testi-block .testi-person-block .testi-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimony-sec .testimony-carousel .testi-block .testi-person-block .testi-name {
  flex: 1;
}
.testimony-sec .testimony-carousel .testi-block .testi-person-block .testi-name h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffffff;
}
.testimony-sec .testimony-carousel .testi-block .testi-person-block .testi-name p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}
.doc-list-sec {
  position: relative;
}
.doc-list-sec .red-round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #f9313b;
  display: block;
  position: absolute;
  bottom: 40%;
  left: 10%;
  animation: moveLeftRight 2s infinite alternate;
}
.doc-list-sec .wave-1 {
  width: 10px;
  position: absolute;
  top: 15%;
  left: 10%;
  animation: rotateY 2s linear infinite;
}
.doc-list-sec .wave-2 {
  width: 57px;
  position: absolute;
  top: 30%;
  right: 10%;
  animation: moveUpDown 3s infinite alternate;
}
.doc-list-sec .doctor-profile {
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.doc-list-sec .doctor-profile .doc-img-wrap {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
.doc-list-sec .doctor-profile .doc-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.doc-list-sec .doctor-profile .doc-name {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.doc-list-sec .doctor-profile .doc-name h5 {
  color: #1d1f4b;
  font-size: 22px;
  margin-bottom: 5px;
}
.doc-list-sec .doctor-profile .doc-name p {
  color: #707070;
  margin-bottom: 0;
  font-size: 14px;
}
.doc-list-sec .doctor-profile .doc-name p.para {
  color: #1d1f4b;
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 15px;
}
.book-now h2 {
  font-size: 40px;
  font-weight: 800;
}
.book-now h2 span {
  color: #f9313b;
}
.book-now p {
  font-size: 20px;
}
.book-now .book-now-btn {
  min-width: 150px;
  text-align: center;
  float: none;
}
.article-sec .article-wrap {
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.article-sec .article-wrap:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.article-sec .article-wrap .article-img-blck {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.article-sec .article-wrap .article-img-blck img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-sec .article-wrap .artcle-shrt-desc {
  padding: 20px;
}
.article-sec .article-wrap .artcle-shrt-desc .post-details span {
  color: #707070;
  font-size: 13px;
}
.article-sec .article-wrap .artcle-shrt-desc h5 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 15px;
  color: #1a1a1a;
}
.article-sec .article-wrap .artcle-shrt-desc p {
  color: #707070;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 15px;
}
.article-sec .article-wrap .artcle-shrt-desc .artcle-more {
  text-transform: uppercase;
  display: flex;
  color: #707070;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.article-sec .article-wrap .artcle-shrt-desc .artcle-more svg {
  fill: #707070;
  width: 18px;
  margin-left: 5px;
}
.article-sec .article-wrap .artcle-shrt-desc .artcle-more:hover {
  letter-spacing: 2px;
}
.footer-sec .social-list {
  display: flex;
}
.footer-sec .social-list li + li {
  margin-left: 10px;
}
.footer-sec .social-list li a {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 3px;
  background-color: #f9313b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.footer-sec .social-list li a:hover {
  background-color: #af161e;
}
.footer-sec .social-list li a svg {
  fill: #ffffff;
  width: 15px;
  height: 15px;
}
.footer-sec .footer-title {
  font-size: 24px;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 20px;
}
.footer-sec .footer-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #707070;
  opacity: 0.4;
}
.footer-sec .footer-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #f9313b;
  z-index: 1;
  opacity: 0.5;
}
.footer-sec .news-list li a .news-img {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
}
.footer-sec .news-list li a .news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-sec .news-list li a .news-details {
  flex: 1;
}
.footer-sec .news-list li a .news-details h6 {
  font-size: 14px;
  margin-bottom: 5px;
}
.footer-sec .news-list li a .news-details p {
  font-size: 12px;
}
.footer-sec .news-list li + li {
  margin-top: 15px;
}
.footer-sec .quick-links {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-wrap: wrap;
}
.footer-sec .quick-links li {
  padding-right: 10px;
  padding-left: 10px;
  width: 33.33%;
  flex: 0 0 auto;
  margin-bottom: 10px;
}
.footer-sec .quick-links li a {
  transition: all 0.3s ease-in-out;
  font-size: 13px;
}
.footer-sec .quick-links li a svg {
  width: 10px;
  fill: #f9313b;
  flex: 0 0 auto;
}
.footer-sec .quick-links li a span {
  margin-left: 5px;
  color: #1a1a1a;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.footer-sec .quick-links li a:hover {
  padding-left: 3px;
}
.footer-sec .quick-links li a:hover span {
  opacity: 1;
}
.footer-sec .copyright p {
  font-size: 13px;
  font-weight: 300;
}
.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 42px;
  background: #f9313b;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  z-index: 5;
}
.scroll-top img {
  width: 15px;
  height: 15px;
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #af161e;
  }
}
@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 #b3b3b3;
  }
}
.close {
  font-weight: 400;
}
.book-now-modal .book-logo {
  width: 260px;
}
@media (max-width: 500px) {
  .book-now-modal .book-logo {
    width: 150px;
  }
}
.book-now-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}
.book-now-modal .card .heading {
  color: #1d1f4b;
  font-size: 20px;
}
.book-now-modal .card .para {
  color: #707070;
}
.book-now-modal .msform {
  text-align: center;
  position: relative;
  margin-top: 0px;
}
.book-now-modal .msform fieldset {
  background: #ffffff;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 0px;
  position: relative;
}
.book-now-modal .msform fieldset:not(:first-of-type) {
  display: none;
}
.book-now-modal .msform .action-button {
  width: 100px;
  background: #28a745;
  color: #ffffff;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border-radius: 5px;
}
.book-now-modal .msform .action-button-previous {
  width: 100px;
  background: #707070;
  color: #ffffff;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
  border-radius: 5px;
}
.book-now-modal .msform .thankyou-tick {
  fill: #28a745;
  width: 100px;
  height: 100px;
}
.book-now-modal .form-card {
  text-align: left;
}
@media (max-width: 980px) {
  .book-now-modal .form-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.book-now-modal .card {
  z-index: 0;
  border: none;
  position: relative;
}
.book-now-modal .fs-title {
  font-size: 25px;
  color: #1d1f4b;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}
.book-now-modal .purple-text {
  color: #1d1f4b;
  font-weight: normal;
}
.book-now-modal .fieldlabels {
  color: #707070;
  text-align: left;
  margin-bottom: 2px;
}
.book-now-modal #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #28a745;
  background-color: #eaeaf7;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 0;
}
.book-now-modal #progressbar .active {
  color: #28a745;
}
.book-now-modal #progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 300;
  color: #707070;
}
.book-now-modal #progressbar li:before {
  width: 30px;
  height: 30px;
  line-height: 25px;
  display: block;
  font-size: 15px;
  color: #373737;
  background: #b3b3b3;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  z-index: 2;
  position: relative;
}
.book-now-modal #progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 1;
}
.book-now-modal #progressbar #account:before {
  content: "1";
  color: #ffffff;
}
.book-now-modal #progressbar #personal:before {
  content: "2";
  color: #ffffff;
}
.book-now-modal #progressbar #payment:before {
  content: "3";
  color: #ffffff;
}
.book-now-modal #progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #ffffff;
}
.book-now-modal #progressbar li.active:before {
  background: #28a745;
}
.book-now-modal #progressbar li.active:after {
  background: #28a745;
}
.book-now-modal .progress {
  height: 20px;
}
.book-now-modal .progress-bar {
  background-color: #28a745;
}
.book-now-modal .fit-image {
  width: 100%;
  object-fit: cover;
}
.pricing-plan .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pricing-plan .cards .card.active {
  background: linear-gradient(135deg, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
}
.pricing-plan .card {
  background: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 0.8rem;
  margin: 0 15px;
}
.pricing-plan .card:hover {
  background: linear-gradient(135deg, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
}
.pricing-plan .card:hover .btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.pricing-plan .card:hover .price {
  color: #fff;
}
.pricing-plan .card:hover .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
.pricing-plan .card sup {
  top: 0.5em;
}
.pricing-plan ul {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.pricing-plan ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.pricing-plan ul li.price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}
.pricing-plan .shadow {
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
.pricing-plan .card.active .price {
  color: #fff;
}
.pricing-plan .card.active .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
.pricing-plan .btn {
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border-radius: 40px;
  background: linear-gradient(135deg, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
}
.pricing-plan .active-btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.pricing-plan .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}
.pricing-plan .pack {
  font-size: 1.1rem;
}
@media (max-width: 280px) {
  .pricing-plan ul {
    margin: 1rem;
  }
  .pricing-plan h1 {
    font-size: 1.2rem;
  }
  .pricing-plan .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .pricing-plan .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .pricing-plan .cards .card.active {
    transform: scale(0.8);
  }
  .pricing-plan .card {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .pricing-plan ul {
    margin: 20px;
  }
  .pricing-plan .cards {
    display: flex;
    flex-direction: column;
  }
  .pricing-plan .cards .card.active {
    transform: scale(1);
  }
  .pricing-plan .card {
    margin-bottom: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .pricing-plan .cards {
    display: flex;
    flex-direction: column;
  }
  .pricing-plan .cards .card.active {
    transform: scale(1);
  }
  .pricing-plan .card {
    margin-bottom: 1rem;
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .pricing-plan .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .pricing-plan .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 768px) and (max-width: 1046px) {
  .pricing-plan .cards {
    display: flex;
  }
  .pricing-plan .cards .card.active {
    transform: scale(1);
  }
  .pricing-plan .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}
.input-message,
.form-message {
  margin-top: 0.25rem !important;
  margin-bottom: 0 !important;
  font-size: 80% !important;
  font-weight: 400 !important;
}
.input-message.error,
.form-message.error {
  color: #dc3545 !important;
}
.input-message.success,
.form-message.success {
  color: #28a745 !important;
}
.custom-control.custom-checkbox .input-message {
  margin-left: -24px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.item-gal {
  border: 4px solid #ffc8cb;
  display: block;
  background-color: #b3b3b3;
  position: relative;
}
.item-gal .cap {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 15px;
  color: #ffffff;
}
section.section {
  padding: 15px 0;
}
.innerpage-banner {
  position: relative;
  background: #1d1f4b;
  min-height: 234px;
}
@media (max-width: 500px) {
  .innerpage-banner {
    min-height: auto;
  }
}
@media (max-width: 500px) {
  .innerpage-banner h1 {
    font-size: 25px;
  }
}
.innerpage-banner .page-intro .breadcrumb-wrap a {
  color: #fff;
}
.innerpage-banner .page-intro .breadcrumb-wrap a.active {
  color: #f9313b;
}
.innerpage-banner .page-intro {
  min-height: 240px;
}
@media (max-width: 500px) {
  .innerpage-banner .page-intro {
    min-height: auto;
  }
}
.ftco-section {
  padding: 40px 0;
}
.ftco-section .ftco-no-pt {
  padding-top: 0;
}
.ftco-section .ftco-no-pb {
  padding-bottom: 0;
}
.ftco-section .heading-section {
  font-size: 28px;
  color: #000;
}
.ftco-section .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ftco-section .form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ftco-section .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}
.ftco-section .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.ftco-section .form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.3) !important;
}
.ftco-section .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}
.ftco-section .form-control:focus,
.ftco-section .form-control:active {
  border-color: #1d1f4b !important;
}
.ftco-section textarea.form-control {
  height: inherit !important;
}
.ftco-section .wrapper {
  width: 100%;
}
.ftco-section .contact-wrap {
  background: #fff;
}
@media (max-width: 767.98px) {
  .ftco-section .info-wrap {
    height: 400px;
  }
}
.ftco-section .dbox {
  width: 100%;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .ftco-section .dbox {
    margin-bottom: 25px !important;
    padding: 0 20px;
  }
}
.ftco-section .dbox p {
  margin-bottom: 0;
}
.ftco-section .dbox p span {
  font-weight: 500;
  color: #000;
}
.ftco-section .dbox p a {
  color: #1d1f4b;
}
.ftco-section .dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1d1f4b;
  margin: 0 auto;
  margin-bottom: 20px;
}
.ftco-section .dbox .icon span {
  font-size: 20px;
  color: #f9313b;
}
.ftco-section .dbox .text {
  width: 100%;
}
.ftco-section .btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .ftco-section .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.ftco-section .btn:hover,
.ftco-section .btn:active,
.ftco-section .btn:focus {
  outline: none !important;
}
.ftco-section .btn.btn-primary {
  background: #46b5d1 !important;
  border-color: #46b5d1 !important;
  color: #fff;
}
.ftco-section .btn.btn-primary:hover,
.ftco-section .btn.btn-primary:focus {
  border-color: #2d9bb7 !important;
  background: #2d9bb7 !important;
}
.ftco-section .contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.ftco-section .contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.ftco-section #contactForm .error {
  color: red;
  font-size: 12px;
}
.ftco-section #contactForm .form-control {
  font-size: 16px;
}
.ftco-section #message {
  resize: vertical;
}
.ftco-section #form-message-warning,
.ftco-section #form-message-success {
  display: none;
}
.ftco-section #form-message-warning {
  color: red;
}
.ftco-section #form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
}
.ftco-section .submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
}
